<div class="masthead">
  <h3 class="text-muted">Delivery System</h3>
  <ul class="nav nav-justified">
    <li><a href="#">Home</a></li>    
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li class="active"><a href="#/login">Login</a></li>
  </ul>
</div>


<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
	<div class="col-sm-6 col-sm-offset-3">
		<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Delivery Access</label>
		    <input type="text" class="form-control" placeholder="Enter username" ng-model="model.nickname">
		  </div>		  
		  
		  <button type="submit" class="btn btn-primary btn-block" ng-click="loginAction()">Login</button>
		</form>
	</div>
</div>


<div class="footer">
  <p>© ClickChic 2014</p>
</div>