<div class="masthead">
  <h3 class="text-muted">Delivery System</h3>
  <ul class="nav nav-justified">
    <li><a href="#">Home</a></li>    
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#/login">Login</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Check your orders status!</h1>
  <p class="lead">We offer a system where our deliverymen can assign himself a particular order. After that, he would send your package in the next 24/48 hours. If you have a transport business, feel free to check out our powerful system.</p>
  <p><a class="btn btn-lg btn-success" href="#/login" role="button">Login for Delivers</a></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>On Live Demand!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar iaculis molestie. Morbi nisl libero, porta at turpis id, suscipit lobortis felis. Ut ac commodo purus. Quisque eget augue sed justo lobortis tempus at sed sem. Nulla non nulla ante. Praesent gravida, nibh eu tincidunt eleifend, ipsum arcu viverra enim, eu vehicula tellus justo bibendum ante. Mauris ac blandit felis. Vestibulum gravida orci turpis, viverra gravida sem pretium mollis.</p>    
  </div>
  <div class="col-lg-4">
    <h2>Premium sellers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar iaculis molestie. Morbi nisl libero, porta at turpis id, suscipit lobortis felis. Ut ac commodo purus. Quisque eget augue sed justo lobortis tempus at sed sem. Nulla non nulla ante. Praesent gravida, nibh eu tincidunt eleifend, ipsum arcu viverra enim, eu vehicula tellus justo bibendum ante. Mauris ac blandit felis. Vestibulum gravida orci turpis, viverra gravida sem pretium mollis.</p>    
 </div>
  <div class="col-lg-4">
    <h2>Last Updates</h2>
    <p class="text-danger">Aenean molestie rhoncus congue. Nullam ut dolor at leo rhoncus tempor ac id erat. Integer scelerisque placerat massa at iaculis. Vivamus eleifend elit nec nunc pharetra aliquet. Integer tempus risus vel erat elementum fermentum. Aenean dolor enim, cursus vitae viverra et, pretium vestibulum lorem. Pellentesque vel justo ultrices, blandit nulla non, vehicula lectus. Donec sollicitudin non nisl eget cursus. Nulla blandit justo velit, in luctus sem dapibus id.</p>
  </div>
</div>

<div class="footer">
  <p>© ClickChic 2014</p>
</div>